@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap");

:root {
  --primary: #4169e1;
  --secondary: #ffffff;
  --tertiary: #000000;
}

body {
  height: 125vh;
  font-family: "Source Sans Pro", sans-serif;
  margin-top: 80px;
  padding: 30px;
}

main {
  color: var(--tertiary);
}

/* Header / Navbar */

header {
  background-color: var(--primary);
  color: var(--secondary);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 80px;
  display: flex;
  align-items: center;
}

header * {
  display: inline;
}

header li {
  margin: 20px;
}

header li a {
  color: var(--secondary);
  text-decoration: none;
  font-size: 1.3em;
  margin: 0.2em;
}

footer {
  background-color: var(--primary);
  color: var(--secondary);
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 50px;
  text-align: center;
}

a.footer {
  color: var(--secondary);
}

/* Card effect */

.card {
  margin-top: 1em;
  padding: 1em;
  border-radius: 1.5em;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

/* Container */

.container {
  padding-right: 5%;
  padding-left: 5%;
  margin-right: auto;
  margin-left: auto;
}

/* Sidebar */

.sidebar {
  padding: 1em;
  border-radius: 1.5em;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  margin-left: 65%;
  width: 20%;
  position: fixed;
}

/* Posts */

.posts {
  padding-right: 26%;
}

.post#title {
  font-size: xx-large;
  font-weight: bold;
  margin: 0.1em;
}

.post#content {
  font-size: x-large;
  margin: 0.5em;
}

div.post_info {
  color: hsla(0, 0%, 0%, 0.4);
  font-weight: bold;
  margin-left: 0.2em;
  margin-bottom: 0;
}

a.post#author {
  color: hsla(0, 0%, 0%, 0.4);
}

a.post#delete {
  color: red;
}

.user#username {
  font-size: xx-large;
  font-weight: 600;
  margin-top: 0;
}

.user {
  font-size: x-large;
}

.create_post {
  display: flex;
}

input#title,
textarea#content.create_post {
  border: none;
  padding: 0.5em;
  margin: 0.5em;
  height: 1em;
  border: 1px solid #eaeaea;
  width: 95%;
  outline: none;
  font-size: larger;
  resize: none;
}

textarea#content.create_post {
  height: 50%;
  font-family: "Source Sans Pro", sans-serif;
  font-size: larger;
}

/* Login | Register */

div.login {
  /* Center */
  display: table;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

form.login#login,
form.login#register {
  /* Center */
  position: absolute;
  top: 35%;
  left: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);

  /* Border */
  padding: 1em;
  border-radius: 1.5em;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  margin: 0.3em;

  display: flex;
  flex-direction: column;
}

input[type="email"].login,
input[type="password"].login,
input[type="text"].login {
  margin: 1em;
  font-size: x-large;
  border: none;
  border-bottom: 0.1em solid hsla(0, 0%, 0%, 0.4);
  outline: none;
}

input[type="email"].login:focus,
input[type="password"].login:focus {
  outline: none;
  border-bottom: 0.15em solid var(--primary);
}

input[type="submit"] {
  font-size: larger;
  margin: auto;
  margin-top: 1em;
  padding: 0.6em;
  color: var(--secondary);
  border: none;
  background-color: var(--primary);
  border-radius: 0.5em;
}

input[type="submit"]:hover {
  cursor: pointer;
}

.login_redirect {
  text-align: center;
  font-size: large;
}

a.login_redirect {
  color: var(--primary);
}
