@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap');

:root {
    --primary: #4169e1;
    --secondary: #ffffff;
    --tertiary: #000000;
}

body {
    height: 125vh;
    font-family: 'Source Sans Pro', sans-serif;
    margin-top: 80px;
    padding: 30px;
}

main {
    color: var(--tertiary);
}

header {

    background-color: var(--primary);
    color: var(--secondary);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    display: flex;
    align-items: center;
}

header * {
    display: inline;
}

header li {
    margin: 20px;
}

header li a {
    color: var(--secondary);
    text-decoration: none;
    font-size: 1.3em;
    margin: .2em;
}

.container {
    padding-right: 3%;
    padding-left: 3%;
    margin-right: auto;
    margin-left: auto;
}

div.post {
    padding: 1em;
    border-radius: 1.5em;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.post#title {
    font-size: xx-large;
    font-weight: bold;
    margin: .1em;
}

.post#content {
    font-size: x-large;
    margin: .5em;
}

div.post_info {
    color: hsla(0, 0%, 0%, .4);
    font-weight: bold;
    display: flex;
    flex-direction: row;
    margin-left: .2em;
    margin-bottom: 0;
}

a.post#author {
    color: hsla(0, 0%, 0%, .4);
}

div.user {
    padding: 1em;
    border-radius: 1.5em;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    margin: .3em;
}

.user#username {
    font-size: xx-large;
    font-weight: 600;
    margin-top: 0;
}

.user#member_since {
    font-size: x-large;
}

.user#post_number {
    font-size: x-large;
}

.create_post {
    display: flex;
}

input#title, textarea#content.create_post {
    border: none;
    padding: .5em;
    margin: .5em;
    height: 1em;
    border:1px solid #eaeaea;
    width: 95%;
    outline:none;
    font-size: larger;
}

textarea#content.create_post {
    height: 50%;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: larger;
}

input:hover{
    border-color: #a0a0a0 #b9b9b9 #b9b9b9 #b9b9b9;
}
input:focus{
    border-color:#4d90fe;
}

input[type="submit"] {
    border-radius: 2px;
    background: #f2f2f2;
    border: 1px solid #f2f2f2;
    color: #757575;
    cursor: default;
    font-size: 14px;
    font-weight: bold;
    padding: 0 16px;
    height:36px;
    margin: .6em;
}
input[type="submit"]:hover {
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    background: #f8f8f8;
    border: 1px solid #c6c6c6;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    color: #222;
}