{% extends 'base.html' %}

{% block head %}
<title>Post</title>
{% endblock %}

{% block main %}
<div class="container">
    <div class="post">
        <form action="/p/new" method="POST">
            <input type="text" class="create_post" id="title" name="title" placeholder="Title">
            <textarea name="content" class="create_post" id="content" cols="30" rows="15" placeholder="Content"></textarea>
            <input type="submit" class="create_post" id="submit" value="Post as {{ user.username }}">
        </form>
    </div>
</div>
{% endblock %}