{% extends 'base.html' %}

{% block head %}
{% endblock %}

{% block main %}
<div class="login">
    <form action="/u/create" method="POST" class="login" id="register">
        <input type="text" name="username" class="login" id="register" placeholder="Username">
        <input type="email" name="mail" class="login" id="register" placeholder="Mail">
        <input type="password" name="password" class="login" id="register" placeholder="Password">
        <input type="submit" value="Create" class="login" id="register">
        <hr>
        <p class="login_redirect">Already have an account ? <a href="/u/login" class="login_redirect">login</a></p>
    </form>
</div>
{% endblock %}