{% extends 'base.html' %}

{% block head %}
{% endblock %}

{% block main %}
<div class="container">
    <h1 style="text-align: center; font-size: 3em;">Admin Panel</h1>

    <div class="users">
        {% for user in all_users %}
        <div class="user" id="{{ user.username }}">
            <details>
                <summary><a class="admindashboard" id="user" href="/u/{{ user.username }}">{{ user.username }}</a>
                </summary>
                uuid : {{ user.uuid }}
                <br>
                Ranks :
                {% for rank in user.ranks.split('+') %}
                {{ rank }}
                {% endfor %}
                <br>
                is admin : {{ user.admin }}
                <br>
                has posted : {{ user.post_number }} time(s)
                <br>
                member since : {{ user.joined.replace(microsecond=0) }}

            </details>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}