{% extends 'base.html' %}

{% block head %}
{% endblock %}

{% block main %}
<div class="container">
    <h1 style="text-align: center; font-size: 3em;">Admin Panel</h1>

    <div class="users">
        {% for user in all_users %}
        <div class="user" id="{{ user.username }}">
            <details>
                <summary><a class="admindashboard" id="user" href="/u/{{ user.username }}">{{ user.username }}</a>
                </summary>
                uuid : {{ user.uuid }}
                <br>
                Ranks :
                {% for rank in user.ranks.split('+') %}
                {{ rank }}
                {% endfor %}
                <br>
                is admin : {{ user.admin }}
                <br>
                has posted : {{ user.post_number }} time(s)
                <br>
                member since : {{ user.joined.replace(microsecond=0) }}
                <details>
                    <summary>see user posts</summary>
                    {% for post in Post.query.filter_by(author_uuid=user.uuid).all() %}
                    <div class="post">
                        <p class="post" id="title">{{ post.title }}</p>
                        <p class="post" id="content">{{ post.content }}</p>
                        <div class="post_info">
                            <p class="post" id="date">{{ post.date.replace(microsecond=0) }} (utc) by <a
                                    href="/u/{{ post.author_name }}" class="post" id="author">you</a></p>
                            <a href="/p/delete?post_uuid={{ post.uuid }}" class="post" id="delete">Delete</a>
                        </div>
                    </div>
                    {% endfor %}
                </details>
            </details>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}